[user]
	email = redtux@posteo.net
	name = Vincent Truchseß
[merge]
	tool = vimdiff
[alias]
  co = checkout
  br = branch
  cm = commit
  lg = log --graph --full-history --all --abbrev-commit --decorate --format='%C(bold blue)%h%C(reset) - %C(bold yellow)(%ar) %an %C(auto)%d %C(reset)%n            %s%C(reset)'
